<div class="header">
  <div class="header-content">
    <h2 class="title">Matchmove</h2>
    <ul class="nav">
    <li></li>
    <li></li>
    </ul>
  </div>
</div>

<section id="features" class="blue" ng-init="index=0">
  <div class="content">
    <div class="box">
      <table style="width:inherit">
        <tr>
          <td rowspan="2">
              <img src="images/lazyfonz2.png" style="width: 187px;" class="image-profile"/>
          </td>
          <td colspan="2"><h2>John Doe<h2></td>
          <td></td>
        </tr>
        <tr>
          <td>
            {{profile.countPosts}} <br>
            Posts
          </td>
          <td>
            {{profile.countLikes}}<br>
            Likes
          </td>
          <td>
            {{profile.countComments}} <br>
            Comments
          </td>
        </tr>
      </table>
    </div>

    <h2>Posts<h2>
    <slick slides-to-show=1 slides-to-scroll=1 init-onload=true data="awesomeThings" class="slider multiple-items" slick-apply="slickApply">
      <div ng-repeat="thing in awesomeThings"><p>{{ thing.body }}
      </p>
      <a href=#/posts/{{thing.id}} ><img src="images/reply.png"/></a>
      <a href="#/" ng-click="addLikes()"><img src="images/like.png"/></a>
      </div>
    </slick>
    <a href="#/post"><img src="images/plus.png" style="float:left"/></a>
    <hr/>
    
  </div>
</section>

<section id="go-get-it" class="white">
  <div class="content">
    <p class="guff">Dave Buenconsejo</p>
  </div>
</section>
