<div class="header">
  <div class="header-content">
    <h2 class="title">Matchmove</h2>
    <ul class="nav">
    <li>
    <a href="#/" ng-click="addPost(post_body)">home</a>
    </li>
    <li></li>
    </ul>
  </div>
</div>

<section id="features" class="blue" ng-init="index=0">
  <div class="content">
    <p>Reply Post</p>
    <p> {{posts[post_id].body}}</p>

    Comments:
    <ul>
      <li ng-repeat="comment in posts[post_id].comments"><p>{{comment.comment}}</p></li>
    </ul>

  
    <textarea type="textarea" ng-model="comment_body" rows="4" cols="30"></textarea>
    <a href=#/posts/{{post_id}} ng-click="addComment(posts[post_id].comments)"><button>Submit</button></a>
  </div>
</section>

<section id="go-get-it" class="white">
  <div class="content">
    <p class="guff">Dave Buenconsejo</p>
  </div>
</section>
